.noticias{
    background-color:#edeeee ;
    display: block;
      align-items: center;
      justify-content: center;
      width: 100vw;
      text-align: center;
      height: auto;
  }
  .noticias>h2{
      background: url('../../../img/noticias.png') no-repeat ;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-position: center;
      height: 320px;
      width: 100vw;
      padding-top: 50px;
      padding-bottom: 20px;
      color: #253d5f;
      font-size: 80px;
      text-shadow: 0px 0px 5px white,
      0px 0px 10px white,
      0px 0px 15px white;
      
  }
  .noticias h2{
      padding-top: 50px;
      padding-bottom: 20px;
      color: #253d5f;
      font-size: 40px;
      text-shadow: 0px 0px 5px white,
      0px 0px 10px white,
      0px 0px 15px white;
  }
  .noticias h3{
      padding-top: 20px;
      color: #253d5f;
      font-size: 40px;
      text-shadow: 0px 0px 5px white,
      0px 0px 10px white,
      0px 0px 15px white;
  }
  .news{
    width: 840px;
    height: 800px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding-top:20px ;
  }
  .news .card{
    transition: 0.2s ease-in-out;
    cursor: pointer;
    height:320px;
  }
  .news .card:hover{
    transform: scale(1.05);
    z-index: 99;
  }
  .news .card-body{
    background-color: #253d5f;
    color: white;
    height: 25px;
  }

  .eventos{
    width: 1280px;
    height: 850px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }