.formulario{
    background-image: url('../../../../img/fundoform.png');
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 750px;
    align-items: center;
    justify-content: center;
    display: block;
    padding-left:20%;
    padding-top: 25px;
}
.formulario form {
    font-size: 14px;
    background-color: rgba(253, 181, 0,0.5);
    max-width: 300px;
    height: 600px; 

}

.formulario h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: #000066;
}

.formulario input, textarea,select {
    width: 260px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}
.formulario select{
    width: 260px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}

.formulario input:hover,select:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #000066;
    background-color: #d6d6d6;
    color: black;
    font-weight: bold;
}

.formulario .enviar {
    background-color: #ffffff;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

.formulario textarea {
    width: 260px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
    margin-left: 20px;
    margin-top: 10px;
}

.formulario form label {
    margin-left: 20px;
    color: #ffffff;
    font-weight: bold;
}