.foot{
    display: block;
    width: 100vw;
    height: 280px;
    background-color:#253D5F;
    color: white;
}
span{font-size:25px;} span.list-dev{font-size:15px;} li{font-size: 16px;} 
.li-menu{font-size:18px;padding: 2px;font-weight: bold;}
.li-list-dev{font-size: 15px;}
.container-list{
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
}
.list-footer{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.list-footer>li{
    padding: 5px;
}
.li-menu{
    font-size: 18px;
}
.logotype{
    max-height: 280px;
    height: 20rem;
}.logotype1{
    height: 100px;
}

/*dev*/
.foot-dev{
    display: flex;
    height: 80px;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.list-dev{
    display: flex;
    align-items: center;
    font-size: 10px;
    padding: 5px;
}
.list-dev>span{
    font-size: 10px;
}
.list-footer>button{
    background-color: white;
    width: 80px;
    height: 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.list-footer>button:hover{
    background-color: #0083af;
    color: white;
    transition: 0.2s ease-in-out;
    
}
li{
    cursor: pointer;
}
.container-list li:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in;
}
.list-footer img{
    height: 60px;
}