.maternal{
    background-color:#edeeee ;
  display: block;
    align-items: center;
    justify-content: center;
    width: 100vw;
    text-align: center;
    height: auto;
}
.maternal>h2{
    background: url('../../../../img/maternal-banner.png') no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    height: 320px;
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #253d5f;
    font-size: 80px;
    text-shadow: 0px 0px 5px white,
    0px 0px 10px white,
    0px 0px 15px white;
    
}
.maternal h2{
    padding-top: 50px;
    padding-bottom: 20px;
    color: #253d5f;
    font-size: 80px;
    text-shadow: 0px 0px 5px white,
    0px 0px 10px white,
    0px 0px 15px white;
}
.propostas{
    margin: 0 auto;
   display: flex;
   justify-content: center; 
   align-items: center;
   width: 1200px;
   height: 560px;
}
.text-maternal{
    background-color: rgb(255, 255, 255);
    width: 380px;
    height: 500px;
    border-radius: 10px;
    border: 4px solid #253d5f;
}
.mater-video{
    height: 500px;
    width: 640px;
    border-radius: 20px;
    margin-left: 20px;
}
.text-maternal>h3{
    font-size: 30px;
    padding-top: 18px;
    color: #253d5f;
}
.text-maternal>p{
    color: #253d5f;
    font-size: 16px;
    font-weight: 600;
    padding: 40px;
}


.maternal-cards{
    background-color: transparent;
    display: block;
    margin: 0 auto;
    width: 900px;
    height: auto;
    padding-bottom: 100px;
}

.maternal-cards .card-group{
    border: none;
    border-radius:0px;
    
}
.maternal-cards .card-group .card{
    border: none;
    border-radius:0px;
    background-color: transparent;
    color: white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.maternal-cards .card:hover{
    transform: scale(1.05);
    z-index: 99;
}
.maternal-cards .card p{
    position: absolute;
    bottom: 20px;
    font-weight: 600;
    text-shadow:
     #253d5f 1px 1px 5px,
     #253d5f 1px 1px 8px,
     #253d5f 1px 1px 12px,
     #253d5f 1px 1px 15px;
}
.icones{
    height: 500px;
    width: 100vw;
   
}
