.map{
    width: 100vw;
    height: 650px;
    background-color: brown;
    display: block;
    text-align: center;
}
.map>h2{
    color: white;
    font-weight: bold;
    padding-top: 30px;
}
.listas{
    display: flex;
    justify-content:center;
    color: white; 
}
.list1{
    padding-right:120px ;
}

.list1>li, .list2>li{
    font-size: 15px;
    padding: 2px;
}
.googlemaps{
    display: flex;
    justify-content: center;
}